@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Serif&subset=latin-ext";
@font-face {
  font-family: MontserratLight;
  src: url("Montserrat-Light.otf") format("opentype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, a, li, span, input, textarea {
  font-family: "Montserrat", sans-serif; }

p {
  font-family: "PT Serif", serif; }

a {
  color: #fff; }
  a:visited, a:hover, a:active, a:focus {
    color: #fff;
    text-decoration: none; }

.clearfix {
  clear: both; }

.container {
  width: 80%;
  overflow: hidden; }

/* HEADER */
header {
  overflow: hidden; }
  header .wrap {
    position: relative;
    top: 0px;
    width: 100%;
    z-index: -1; }
    header .wrap .slide {
      transition: 2s;
      position: absolute;
      opacity: 0; }
    header .wrap .slide1 {
      position: absolute;
      left: -150px;
      z-index: 1; }
    header .wrap .active-slide {
      opacity: 1;
      transition: 1s; }
  header nav {
    padding: 50px 125px 0 125px;
    transition: 0.5s;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1; }
    header nav .nav-menu {
      float: right;
      list-style-type: none; }
      header nav .nav-menu li {
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
        margin-right: 15px;
        padding: 8px 3px 8px 3px;
        position: relative; }
        header nav .nav-menu li:last-child {
          margin-right: 0; }
        header nav .nav-menu li a:visited {
          text-decoration: none; }
        header nav .nav-menu li:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          border-bottom: 2px solid #97735e;
          width: 0%;
          transition: 0.4s; }
        header nav .nav-menu li:hover:after {
          width: 100%; }
      header nav .nav-menu li.changed:after {
        border-bottom-color: #fff; }
  header .sticky-nav {
    z-index: 999;
    padding-top: 15px;
    background-color: rgba(151, 115, 94, 0.9); }
  header .top-content {
    text-transform: uppercase;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 150px;
    position: relative; }
    header .top-content h1 {
      color: #fff;
      font-size: 54px;
      font-family: "MontserratLight";
      line-height: 35px;
      padding-bottom: 50px; }
      header .top-content h1 span {
        font-size: 38px;
        font-weight: bold; }
    header .top-content a {
      border-radius: 0;
      padding: 12px 33px;
      background-color: #fff;
      color: #97735e;
      font-weight: bold;
      transition: box-shadow 0.1s; }
      header .top-content a:hover {
        box-shadow: inset 0 0 0 2px #97735e; }
    header .top-content .left-icon {
      position: absolute;
      left: 15%;
      top: 300px;
      cursor: pointer; }
    header .top-content .right-icon {
      position: absolute;
      right: 15%;
      top: 300px;
      cursor: pointer; }

/* SECTION OVERALL */
section {
  padding-top: 100px; }
  section h2 {
    font-size: 18px;
    color: #97735e;
    text-align: center;
    padding-bottom: 100px; }
    section h2 span {
      position: relative;
      padding: 8px 50px;
      border: 1px solid #97735e; }
      section h2 span::before {
        position: absolute;
        content: "";
        top: 50%;
        border-bottom: 1px solid #97735e;
        width: 500px;
        margin: 0 20px;
        right: 100%; }
      section h2 span::after {
        position: absolute;
        content: "";
        top: 50%;
        border-bottom: 1px solid #97735e;
        width: 500px;
        margin: 0 20px;
        left: 100%; }

/* SECTION ABOUT */
#about .col-about-image {
  padding: 0; }
  #about .col-about-image img {
    max-width: 100%; }
#about .col-about-text h3 {
  font-size: 20px;
  color: #97735e;
  font-weight: bold;
  margin: 0 0 10px 0; }
#about .col-about-text p {
  font-size: 12px;
  text-align: justify;
  color: #b5b4b3;
  line-height: 22px; }
#about .col-about-text .about-text-icons {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #about .col-about-text .about-text-icons .about-text-item {
    text-align: center; }
    #about .col-about-text .about-text-icons .about-text-item span {
      font-weight: bold;
      font-size: 12px;
      color: #757371; }
  #about .col-about-text .about-text-icons .about-text-icon {
    width: 66px;
    height: 64px;
    background-color: #97735e;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 10px; }
  #about .col-about-text .about-text-icons .hr {
    width: 100%;
    height: 1px;
    background-color: #97735e;
    margin-top: 31px; }
  #about .col-about-text .about-text-icons .hr-left {
    margin-left: 10px; }
  #about .col-about-text .about-text-icons .hr-right {
    margin-right: 10px; }
  #about .col-about-text .about-text-icons .timing-icon {
    background-image: url("images/timing_icon.png"); }
  #about .col-about-text .about-text-icons .presentation-icon {
    background-image: url("images/presentation_icon.png"); }
  #about .col-about-text .about-text-icons .accurate-icon {
    background-image: url("images/accurate_icon.png"); }
#about .col-about-text .col-about-buttons .btn {
  border: 0;
  border-radius: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 150px;
  padding: 8px 0; }
  #about .col-about-text .col-about-buttons .btn:focus {
    outline: 0; }
#about .col-about-text .col-about-buttons .btn-about {
  background-color: #b5b4b3;
  margin-right: 30px; }
#about .col-about-text .col-about-buttons .btn-more {
  background-color: #97735e; }
#about .row-about-details {
  padding-top: 50px;
  display: none; }
  #about .row-about-details .col-about-details {
    text-align: justify; }
    #about .row-about-details .col-about-details h4 {
      color: #757371; }
    #about .row-about-details .col-about-details p {
      font-size: 12px;
      text-align: justify;
      color: #b5b4b3;
      line-height: 22px; }
  #about .row-about-details .about-details-image {
    width: 54px;
    height: 52px;
    background-color: #97735e;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 10px; }
  #about .row-about-details .timing-icon {
    background-image: url("images/timing_icon.png"); }
  #about .row-about-details .presentation-icon {
    background-image: url("images/presentation_icon.png"); }
  #about .row-about-details .accurate-icon {
    background-image: url("images/accurate_icon.png"); }

/* SECTION WORKS */
#works {
  /* MODAL WINDOWS */
  /* PORTFOLIO ITEMS */ }
  #works .works-list {
    list-style-type: none;
    text-align: center;
    padding-bottom: 50px; }
    #works .works-list li {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      color: #b5b4b3; }
      #works .works-list li:hover {
        color: #97735e; }
    #works .works-list li.active {
      color: #97735e; }
  #works .modal .modal-header {
    background-color: #97735e;
    color: #fff; }
  #works .modal img {
    float: left;
    max-width: 100%;
    padding: 0 10px 10px 0; }
  #works .modal .modal-footer .btn {
    font-family: "Montserrat", sans-serif; }
    #works .modal .modal-footer .btn:hover {
      background-color: #fff; }
  #works .row-works {
    padding-bottom: 30px; }
  #works .col-works .works-item {
    position: relative;
    margin-bottom: 30px; }
    #works .col-works .works-item img {
      width: 100%; }
    #works .col-works .works-item .works-item-hover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(67, 50, 40, 0);
      transition: 0.3s; }
      #works .col-works .works-item .works-item-hover .works-item-desc {
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0;
        transition: 0.3s; }
        #works .col-works .works-item .works-item-hover .works-item-desc .works-item-title {
          padding-top: 75%; }
        #works .col-works .works-item .works-item-hover .works-item-desc h4 {
          font-weight: bold;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          margin: 0; }
        #works .col-works .works-item .works-item-hover .works-item-desc p {
          font-size: 12px;
          color: #d6b7a6; }
        #works .col-works .works-item .works-item-hover .works-item-desc h5 {
          text-transform: uppercase;
          color: #fff;
          font-size: 10px;
          text-align: center;
          padding-top: 30%; }
          #works .col-works .works-item .works-item-hover .works-item-desc h5 a {
            border: 1px solid #fff;
            padding: 5px 15px;
            position: relative;
            transition: 0.3s; }
            #works .col-works .works-item .works-item-hover .works-item-desc h5 a::before {
              position: absolute;
              content: "";
              top: 50%;
              border-bottom: 1px solid #fff;
              width: 10px;
              margin: 0 5px;
              right: 100%; }
            #works .col-works .works-item .works-item-hover .works-item-desc h5 a::after {
              position: absolute;
              content: "";
              top: 50%;
              border-bottom: 1px solid #fff;
              width: 10px;
              margin: 0 5px;
              left: 100%; }
            #works .col-works .works-item .works-item-hover .works-item-desc h5 a:hover {
              background-color: rgba(151, 115, 94, 0.4); }
    #works .col-works .works-item:hover .works-item-hover {
      background-color: rgba(67, 50, 40, 0.9);
      box-shadow: inset 0 0 0 10px rgba(151, 115, 94, 0.9); }
      #works .col-works .works-item:hover .works-item-hover .works-item-desc {
        opacity: 1; }

/* SECTION SERVICES */
#services {
  padding-top: 50px; }
  #services .col-services {
    border: 1px solid #97735e;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden; }
    #services .col-services .services-icon {
      width: 60px;
      height: 60px;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid #97735e;
      border-radius: 50px;
      padding: 30px;
      margin: 0 auto;
      margin-top: 50px;
      position: relative; }
      #services .col-services .services-icon:before {
        position: absolute;
        content: '';
        width: 50px;
        top: 50%;
        border-bottom: 1px solid #97735e;
        margin: 0 20px;
        right: 100%; }
      #services .col-services .services-icon:after {
        position: absolute;
        content: '';
        width: 50px;
        top: 50%;
        border-bottom: 1px solid #97735e;
        margin: 0 20px;
        left: 100%; }
    #services .col-services .services-timing {
      background-image: url("images/services-timing.png"); }
    #services .col-services .services-presentation {
      background-image: url("images/services-presentation.png"); }
    #services .col-services .services-accurate {
      background-image: url("images/services-accurate.png"); }
    #services .col-services .services-design {
      background-image: url("images/services-design.png"); }
    #services .col-services .services-developer {
      background-image: url("images/services-developer.png"); }
    #services .col-services .services-production {
      background-image: url("images/services-production.png"); }
    #services .col-services h5 {
      font-weight: bold;
      font-size: 14px;
      color: #757371;
      margin-top: 20px;
      margin-bottom: 35px; }
    #services .col-services p {
      font-size: 12px;
      color: #757371;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 35px; }

/* SECTION PURCHASE */
#purchase {
  background-color: #97735e;
  margin-top: 100px;
  position: relative; }
  #purchase #purchase-container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #purchase .purchase-img {
    width: 60%; }
    #purchase .purchase-img img {
      max-width: 100%;
      margin-bottom: -10px;
      margin-left: -50px; }
  #purchase .purchase-text {
    width: 40%;
    margin-left: -70px; }
    #purchase .purchase-text h3 {
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px; }
    #purchase .purchase-text p {
      font-size: 12px;
      color: #e1cdb3;
      margin-bottom: 30px; }
    #purchase .purchase-text .btn {
      border-radius: 0;
      background-color: transparent;
      border: 1px solid #fff;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      padding: 8px 20px; }
      #purchase .purchase-text .btn:focus {
        outline: none; }
    #purchase .purchase-text .purchase-bottom {
      position: absolute;
      bottom: 40px; }
      #purchase .purchase-text .purchase-bottom img {
        padding: 40px 5px 0 20px;
        cursor: pointer; }
        #purchase .purchase-text .purchase-bottom img:last-child {
          transform: rotateY(180deg); }
  #purchase .wrap {
    position: relative; }
    #purchase .wrap .purchase-slide {
      position: absolute;
      opacity: 0; }
    #purchase .wrap .active-purchase-slide {
      transition: 0.5s;
      opacity: 1; }

/* SECTION OUR TEAM */
.row-our-team .col-team-member, .row-our-team col-join-us {
  margin-bottom: 30px; }
  .row-our-team .col-team-member img, .row-our-team col-join-us img {
    width: 100%; }
.row-our-team .col-team-member {
  position: relative; }
  .row-our-team .col-team-member .team-member-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s; }
    .row-our-team .col-team-member .team-member-hover:hover {
      background-color: rgba(67, 50, 40, 0.9); }
      .row-our-team .col-team-member .team-member-hover:hover .team-member-desc, .row-our-team .col-team-member .team-member-hover:hover .social-icons {
        opacity: 1; }
    .row-our-team .col-team-member .team-member-hover .team-member-desc {
      position: absolute;
      top: 60%;
      left: 10%;
      transition: 0.3s;
      opacity: 0; }
      .row-our-team .col-team-member .team-member-hover .team-member-desc h5 {
        margin: 0;
        color: #fff;
        font-weight: bold;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 5px; }
        .row-our-team .col-team-member .team-member-hover .team-member-desc h5:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 40px;
          height: 2px;
          background-color: #fff; }
      .row-our-team .col-team-member .team-member-hover .team-member-desc p {
        color: #d1baac;
        font-size: 12px; }
    .row-our-team .col-team-member .team-member-hover .social-icons {
      list-style-type: none;
      position: absolute;
      bottom: 25px;
      left: 10%;
      transition: 0.3s;
      opacity: 0; }
      .row-our-team .col-team-member .team-member-hover .social-icons li {
        display: inline-block;
        text-align: center;
        font-size: 11px;
        width: 25px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: 0.3s; }
        .row-our-team .col-team-member .team-member-hover .social-icons li:hover {
          background-color: rgba(151, 115, 94, 0.4); }
        .row-our-team .col-team-member .team-member-hover .social-icons li a {
          display: inline-block;
          padding: 3px 3px; }
.row-our-team .col-join-us {
  position: relative; }
  .row-our-team .col-join-us .bg {
    border: 1px solid #97735e;
    width: 100%; }
  .row-our-team .col-join-us .join-us-desc {
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
    .row-our-team .col-join-us .join-us-desc h3 {
      color: #97735e;
      font-weight: bold;
      font-size: 33px;
      margin-bottom: 20px; }
      .row-our-team .col-join-us .join-us-desc h3 span.join {
        letter-spacing: 5px; }
      .row-our-team .col-join-us .join-us-desc h3 span.our {
        font-weight: normal;
        font-size: 37px;
        letter-spacing: 6px; }
    .row-our-team .col-join-us .join-us-desc a {
      border: 1px solid #fff;
      padding: 5px 20px;
      position: relative;
      transition: 0.3s;
      background-color: #97735e;
      font-size: 10px; }
      .row-our-team .col-join-us .join-us-desc a::before {
        position: absolute;
        content: "";
        top: 50%;
        border-bottom: 1px solid #97735e;
        width: 20px;
        margin: 0 5px;
        right: 100%; }
      .row-our-team .col-join-us .join-us-desc a::after {
        position: absolute;
        content: "";
        top: 50%;
        border-bottom: 1px solid #97735e;
        width: 20px;
        margin: 0 5px;
        left: 100%; }
      .row-our-team .col-join-us .join-us-desc a:hover {
        background-color: rgba(151, 115, 94, 0.9); }

/* BLOG */
#blog .modal-body img {
  width: 100%;
  padding-bottom: 10px; }
#blog .modal-footer .btn {
  font-family: "Montserrat", sans-serif; }
  #blog .modal-footer .btn:hover {
    background-color: #fff; }
#blog .col-blog {
  margin-bottom: 30px;
  position: relative; }
  #blog .col-blog img {
    width: 100%; }
  #blog .col-blog .col-blog-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s; }
    #blog .col-blog .col-blog-hover:hover {
      background-color: rgba(67, 50, 40, 0.9); }
      #blog .col-blog .col-blog-hover:hover .col-blog-desc, #blog .col-blog .col-blog-hover:hover h5.narrow {
        opacity: 1; }
    #blog .col-blog .col-blog-hover .col-blog-desc {
      width: 60%;
      position: absolute;
      top: 45%;
      left: 10%;
      transition: 0.3s;
      opacity: 0; }
      #blog .col-blog .col-blog-hover .col-blog-desc h5 {
        font-weight: bold;
        color: #fff;
        padding-bottom: 10px;
        margin-bottom: 5px;
        position: relative; }
        #blog .col-blog .col-blog-hover .col-blog-desc h5:after {
          position: absolute;
          content: "";
          width: 30px;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #fff; }
      #blog .col-blog .col-blog-hover .col-blog-desc p {
        color: #d1baac;
        font-size: 10px; }
    #blog .col-blog .col-blog-hover h5.narrow {
      position: absolute;
      bottom: 20px;
      right: 40px;
      transition: 0.3s;
      opacity: 0; }
      #blog .col-blog .col-blog-hover h5.narrow a {
        border: 1px solid #fff;
        padding: 5px 20px;
        position: relative;
        transition: 0.3s;
        background-color: transparent;
        font-size: 10px; }
        #blog .col-blog .col-blog-hover h5.narrow a::before {
          position: absolute;
          content: "";
          top: 50%;
          border-bottom: 1px solid #97735e;
          width: 20px;
          margin: 0 5px;
          right: 100%; }
        #blog .col-blog .col-blog-hover h5.narrow a::after {
          position: absolute;
          content: "";
          top: 50%;
          border-bottom: 1px solid #97735e;
          width: 20px;
          margin: 0 5px;
          left: 100%; }
        #blog .col-blog .col-blog-hover h5.narrow a:hover {
          background-color: rgba(151, 115, 94, 0.9); }
        #blog .col-blog .col-blog-hover h5.narrow a:focus {
          outline: 0; }
#blog .btn-load-more {
  margin: auto;
  margin-top: 20px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #97735e; }
  #blog .btn-load-more:focus {
    outline: none; }
#blog .row-blog-hide {
  display: none; }

/* SECTION CONTACT */
#contact #map {
  height: 350px;
  width: 100%; }
#contact h3 {
  font-weight: bold;
  font-size: 26px;
  color: #97735e;
  margin-top: 100px; }
#contact p {
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 50px; }
#contact form .row-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #contact form .row-inputs #name, #contact form .row-inputs #email {
    width: 47%; }
#contact form input, #contact form textarea {
  margin-bottom: 20px;
  border: 1px solid #97735e;
  padding: 10px;
  color: #97735e; }
  #contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
    color: #b7b6b6; }
  #contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
    color: #b7b6b6; }
  #contact form input::-ms-input-placeholder, #contact form textarea::-ms-input-placeholder {
    color: #b7b6b6; }
  #contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder {
    color: #b7b6b6; }
#contact form textarea {
  resize: none; }
#contact form #subject, #contact form #message {
  width: 100%; }
#contact form .btn-send {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #fff;
  border-radius: 0;
  padding: 8px 25px;
  background-color: #97735e; }
  #contact form .btn-send:focus {
    outline: none; }
#contact .contact-info {
  padding-left: 50px; }
  #contact .contact-info h5 {
    color: #97735e;
    font-weight: bold; }
    #contact .contact-info h5:first-child {
      margin-top: 0; }
  #contact .contact-info p {
    font-size: 12px;
    color: #7e7e7e;
    margin-bottom: 25px; }
  #contact .contact-info .contact-info-item span {
    float: left;
    border: 1px solid #97735e;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    margin-right: 30px; }
    #contact .contact-info .contact-info-item span i {
      color: #97735e;
      font-size: 30px; }
    #contact .contact-info .contact-info-item span i.fa-last {
      font-size: 15px;
      position: absolute;
      left: 0;
      right: 0;
      top: 15px; }
  #contact .contact-info .contact-info-item:last-child span {
    position: relative; }

/* FOOTER */
footer {
  background-color: #97735e;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 150px; }
  footer img {
    display: block;
    margin: 0 auto; }
  footer .social-icons {
    padding-top: 50px;
    padding-bottom: 50px;
    list-style-type: none;
    text-align: center; }
    footer .social-icons li {
      display: inline-block;
      text-align: center;
      margin-right: 15px;
      font-size: 15px;
      width: 30px;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: 0.5s; }
      footer .social-icons li:hover {
        background-color: #a88a78; }
      footer .social-icons li a {
        display: block;
        padding: 3px; }
  footer h5 {
    color: #fff;
    text-align: center;
    letter-spacing: 3px; }

/*# sourceMappingURL=style.css.map */
